@charset "utf-8";
.container-fluid {
    background-color: #000000;
}
.container-fluid {
    color: #000000;
    background-color: #000000;
}
.navbar-nav.mr-auto .nav-item .nav-link {
    background-color: #000000;
    color: #FF6836;
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #FF6836;
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand img {
    background-color: #000000;
    color: #000000;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #000000;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    color: #FF6836;
}
footer .row .col-lg-6 {
    color: #FF6836;
}
footer .row .col-lg-3 {
    color: #FF6836;
}
.container div .text-center {
    color: #FF6836;
}
